[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Najib Arbaoui (arnajib)
[access "refs/for/refs/*"]
	read = group user/Najib Arbaoui (arnajib)
	push = group user/Najib Arbaoui (arnajib)
	label-Code-Review = -2..+2 group user/Najib Arbaoui (arnajib)
	label-Verified = -1..+1 group user/Najib Arbaoui (arnajib)
	rebase = group user/Najib Arbaoui (arnajib)
	removeReviewer = group user/Najib Arbaoui (arnajib)
	submit = group user/Najib Arbaoui (arnajib)
[access "refs/heads/*"]
	read = group user/Najib Arbaoui (arnajib)
	create = group user/Najib Arbaoui (arnajib)
	push = +force group user/Najib Arbaoui (arnajib)
	pushMerge = group user/Najib Arbaoui (arnajib)
[access "refs/tags/*"]
	push = +force group user/Najib Arbaoui (arnajib)
	pushTag = group user/Najib Arbaoui (arnajib)
	pushSignedTag = group user/Najib Arbaoui (arnajib)
